.center.hero-unit.span6.pull-right
  %h1
    I am looking for a conversation partner..
  %br
  #langfinder
    = search_form_for @search do |f|
      %p
        = f.label :languages_name_cont, "I am learning"
        = f.text_field :languages_name_cont, :class=>"lang_search", data: {autocomplete_source: autocomplete_items }
      %p
        = f.label :language_to_learns_name_cont, "I speak"
        = f.text_field :language_to_learns_name_cont, :class=>"lang_search", data: {autocomplete_source: autocomplete_items }
        %br
        = f.submit "Find a partner now!", class: "btn btn-success"
    %p
      Want more options? Try our #{link_to "advanced search", user_search_path}
  / %a.btn.btn-large.btn-success{"data-toggle" => "modal", :href => "#signupModal", :role => "button"} Sign up now!
.span3.postit
  %h1
    Hello man!
  %p
    Butcher tonx organic, quinoa next level neutra godard officia. Proident non chillwave meh nostrud street art. Odd future exercitation anim, brooklyn squid literally DIY. Proident banh mi wayfarers aliquip vinyl, duis swag fap echo park veniam dreamcatcher kale chips sed american apparel.
.clearfix
.tapeline

.listingcontainer
  - @users.shuffle!
  - @users.each do |user|
    %ul.thumbnails.span3
      %li
        %a.thumbnail{href: user_path(user)}
          %img
            = image_tag user.photo.small, class: 'img-rounded'
      %li
        %p
          Last active: #{distance_of_time_in_words(user.last_login_at, Time.now)} ago
      %li
        = link_to user_name(user), user
        %p
          Speaks:
          - user.languages.each do |language|
            = language.name
        %p
          Learning:
          - user.language_to_learns.each do |language|
            = language.name
      %li
        - if user.meets_face_to_face?
          = image_tag('f2f_icon.png')
        - if user.meets_telephone?
          = image_tag('telephone-icon.png')
        - if user.meets_online?
          = image_tag('video-chat.png')
      %li
        %p
          #{user.city}, #{user.country}

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign in
  .modal-body
    = render 'sessions/new'

#signupModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "signupLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign up
  .modal-body
    = render 'users/new'

- if @users.blank?
  = render 'users/no_results'