%h1
  My Messages
%h2
  Received Messages
- if @received_messages.blank?
  %h3
    No messages
- if @received_messages
  %table.table-bordered.table-hover.table-striped.span12
    %thead
      %tr
        %th.span1 Date
        %th.span1 From
        %th.span1 Subject
        %th.span1
    %tbody
      %td
        - @received_messages.each do |m|
          %tr
            %td
              #{distance_of_time_in_words(m.created_at, Time.now)} ago
            %td
              = user_name(m.sender)
            %td
              = link_to m.subject, m
            %td
              = link_to "Delete", '#'

%h2
  Sent Messages
- if @received_messages.blank?
  %h3
    No messages
- if @sent_messages
  %table.table-bordered.table-hover.table-striped.span12
    %thead
      %tr
        %th.span1 Date
        %th.span1 To
        %th.span1 Subject
        %th.span1
    %tbody
      %td
        - @sent_messages.each do |m|
          %tr
            %td
              #{distance_of_time_in_words(m.created_at, Time.now)} ago
            %td
              = user_name(m.recipient)
            %td
              = link_to m.subject, m
            %td
              = link_to "Unsend", '#'
