.postit
  %h1
    find a conversation partner
  %hr
  #langfinder
    = search_form_for @search, url: user_search_path do |f|
      .span3
        %h4
          I am learning..
        %p
          = f.text_field :languages_name_cont, :class=>"lang_search", data: {autocomplete_source: autocomplete_items }
        %h4
          I speak..
        %p
          = f.text_field :language_to_learns_name_cont, :class=>"lang_search", data: {autocomplete_source: autocomplete_items }
      .span3
        %h4
          I want to meet..
        %p
          #{image_tag('f2f_icon.png')} Face to Face
          = f.check_box :meets_face_to_face_true
        %p
          #{image_tag('video-chat.png')} Online
          = f.check_box :meets_online_true
        %p
          #{image_tag('telephone-icon.png')} Telephone
          = f.check_box :meets_telephone_true
      .span3
        %h4
          Between
        %p
          #{text_field_tag :min_age, params[:min_age], id: 'ages'} and #{text_field_tag :max_age, params[:max_age], id: 'ages'} years old

        %h4
          Near (City, Country)
          = text_field_tag :location, params[:location]

        %br
        = f.submit "Find a partner now!", class: "btn btn-success"
  .clearfix
.tapeline
.listingcontainer
  - if @newresults && @newresults != []
    - @newresults.each do |user|
      %ul.thumbnails.span3
        %li
          %a.thumbnail{href: user_path(user)}
            %img
              = image_tag(user.photo_url(:small).to_s, class: 'img-rounded')

        %li
          = link_to user_name(user), user
        %li
          I speak
          - user.languages.each do |language|
            %ul
              %li
                = language.name
        %li
          I am learning
          - user.language_to_learns.each do |language|
            %p
              = language.name
        %li
          I live in #{user.city}, #{user.country}
  - else
    - if @onlineusers
      - if @onlineusers.blank?
        .postit
          = render 'users/no_results'
      - unless params[:location].blank? && !@onlineusers.blank?
        .postit
          %h4
            We couldn't find any users near you, however here are users that are interested in online or telephone meetups.
      .headlineshort
      - @onlineusers.each do |user|
        %ul.thumbnails.span3
          %li
            %a.thumbnail{href: user_path(user)}
              %img
                = image_tag(user.photo_url(:small).to_s, class: 'img-rounded')
          %li
            = link_to user_name(user), user
          %li
            - if user.meets_face_to_face?
              = image_tag('f2f_icon.png')
            - if user.meets_telephone?
              = image_tag('telephone-icon.png')
            - if user.meets_online?
              = image_tag('video-chat.png')
          %li
            I speak
            - user.languages.each do |language|
              %ul
                %li
                  = language.name
          %li
            I am learning
            - user.language_to_learns.each do |language|
              %p
                = language.name
          %li
            I live in #{user.city}, #{user.country}