.center.hero-unit
  %h1 Find a great language partner
  %h2
    Language exchange -- easy!
  %p
    LanguageBoard is where you can make friends and practice
    a new language.
  %a.btn.btn-large.btn-success{"data-toggle" => "modal", :href => "#signupModal", :role => "button"} Sign up now!

#container
  %ul.thumbnails
    - users.each do |user|
      %li.span3

        %a.thumbnail{href: user_path(user)}
          %img
            = image_tag(user.photo_url(:small).to_s, class: 'img-polaroid')
          .noteboard
            %h3
              = user_name(user)
            %p
              I speak English
            %p
              I am learning German
            %p
              I live in #{user.city}, #{user.country}

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign in
  .modal-body
    = render 'sessions/new'

#signupModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "signupLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign up
  .modal-body
    = render 'users/new'