!!!
%html
  %head
    %title [TITLE]
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    = render 'layouts/header'
    .container
      = render 'flashes'
      = yield
    %hr
    = render 'layouts/footer'
    %hr
    %p.center
      © LanguageBoard.com 2013 All Rights Reserved
